@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Kelly+Slab&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


  body{
    margin: 0;
    padding: 0;
  }

  @layer utilities {
    .text-shadow-red {
      text-shadow: 4px 2px #800020;
    }
  }
  