@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Kelly+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


  body{
    margin: 0;
    padding: 0;
    background-color: black;
  }

  @layer utilities {
    .text-shadow-red {
      text-shadow: 5px 4px #800020;
    }

    .text-shadow-red2 {
      text-shadow: 3px 1px #800020;
    }

  }
  